# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin
.settings
.classpath
.project
logs
testrsc/test
testrsc/smac.log
test.scenario
benchmark.properties
datasets
automlc.img
automlc
working_dir
/test
__pycache__
/results/anytime-plots/
/results/bu/
/results/gephi-export/
/results/scatter-plots/
/results/tables/
/results/incumbent-frequencies.txt
/results/searchspace-meka.html
/results/searchspace-weka.html