# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin
.settings
.classpath
.project
logs
testrsc/test
testrsc/smac.log
test.scenario
benchmark.properties
datasets
automlc-setup.properties